---
import { Image } from '@datocms/astro';
import { getRelativeLocaleUrl } from 'astro:i18n';
const { product } = Astro.props;

---

<article>
  {product.images && product.images[0] && (
    <Image
      data={product.images[0].responsiveImage}
      pictureClass="w-full"
    />
  )}
  <span>{product.productType}</span>
  <h3>
    <a href={getRelativeLocaleUrl(Astro.currentLocale, `/products/${product.slug}`)}>
    {product.name}
    </a>
  </h3>
  {product.description && <p>{product.description}</p>} 
</article>
